// main: ../../style.scss

.result-step-title {
  margin: 1em 0 1.5em 0;
  color: $color-main;
  font-family: $font2;
  font-size: vw-pc(18);
  font-weight: 600;
}

.result-step-subtitle {
  margin: .5em 0;
  font-size: vw-pc(18);
}

.result-step-value {
  font-family: $font2;
  font-size: vw-pc(24);
  font-weight: 700;
}

@media screen and (min-width: $breakpoint) {

  .result-step-title {
    font-size: 18px;
  }

  .result-step-subtitle {
    font-size: 18px;
  }

  .result-step-value {
    font-size: 24px;
  }
}
