// main: ../../style.scss

.simulator {
  position: relative;
  padding: vw-pc(100) 0 vw-pc(125) 0;
  background-color: $color-base;
    max-height: 65vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.simulator-close {
    position: fixed;
    top: 10vh;
    z-index: 999;
  right: 2em;
}

.simulator-close a {
  position: relative;
  padding-left: vw-pc(40);
  color: #666;
}

.simulator-close a:hover {
  color: #000;
}

.simulator-close a:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block;
  width: vw-pc(30);
	height: vw-pc(30);
	background-image: url(../img/close.png);
  background-size: contain;
	background-repeat: no-repeat;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
}

@media screen and (min-width: $breakpoint) {

  .simulator {
    padding: 100px 0 125px 0;
  }

  .simulator-close a {
    padding-left: 40px;
  }

  .simulator-close a:before {
    width: 30px;
  	height: 30px;
  }
}

.chat li {
  position: relative;
  margin: 0 auto vw-pc(50) auto;
  padding: 2em;
  border-radius: vw-pc(20);
  line-height: 1.8em;
}

.chat li:before {
  content: '';
  position: absolute;
  top: 2em;
  width: 0;
height: 0;
border-style: solid;
}

.chat li:after {
  content: '';
  position: absolute;
  display: inline-block;
  top: 0;
  background-size: contain;
	background-repeat: no-repeat;
}

.chat--myself {
  background-color: #dffeff;
}

.chat--myself:before {
  left: vw-pc(-15);
  border-width: vw-pc(15) vw-pc(15) vw-pc(15) 0;
  border-color: transparent #dffeff transparent transparent;
}

.chat--myself:after {
  left: vw-pc(-105);
  width: vw-pc(81);
	height: vw-pc(178);
	background-image: url(../img/myself.png);
}

.chat--robot {
  background-color: #ccffe9;
}

.chat--robot:before {
  right: vw-pc(-15);
  border-width: vw-pc(15) 0 vw-pc(15) vw-pc(15);
border-color: transparent transparent transparent #ccffe9;
}

.chat--robot:after {
  right: vw-pc(-105);
  width: vw-pc(89);
	height: vw-pc(121);
	background-image: url(../img/robot.png);
}
@media screen and (min-width: $breakpoint) {

  .chat li {
    margin: 0 auto 50px auto;
    border-radius: 20px;
  }

  .chat--myself:before {
    left: -15px;
    border-width: 15px 15px 15px 0;
  }

  .chat--myself:after {
    left: -105px;
    width: 81px;
  	height: 178px;
  }

  .chat--robot:before {
    right: -15px;
    border-width: 15px 0 15px 15px;
  }

  .chat--robot:after {
    right: -105px;
    width: 89px;
  	height: 121px;
  }

}

.dept-btns {
    margin-bottom: 1.8em;
  //position: relative;
  //top: vw-pc(-60);
}

.dept-btns a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: vw-pc(70);
  border-radius: vw-pc(10);
  color: $color-base;
  font-size: vw-pc(18);
  font-weight: 700;
  transition: .3s;
}

.dept-btns a:hover {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
}

.dept-btns div:nth-child(1) a {
  background-color: #00aed9;
}

.dept-btns div:nth-child(2) a {
  background-color: #f29b76;
}

.dept-btns div:nth-child(3) a {
  background-color: #f8b551;
}

.dept-btns div:nth-child(4) a {
  background-color: #80c269;
}

@media screen and (min-width: $breakpoint) {

  .dept-btns {
    top: -60px;
  }

  .dept-btns a {
    height: 70px;
    border-radius: 10px;
    font-size: 18px;
  }

}

.simulator-result {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

.simulator-result li {
  display: flex;
  align-items: center;
  font-family: $font2;
  font-weight: 700;
  p {
    margin: 0;
    font-size: vw-pc(24);
    span {
      font-size: vw-pc(18);
      font-weight: 400;
    }
  }
}

.simulator-result-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  padding: 0 1em;
  height: vw-pc(45);
  border-radius: vw-pc(10);
  font-size: vw-pc(18);
}

.simulator-result li:nth-child(1) {
  color: #ff5b5b;
  .simulator-result-label {
    background-color: #ffe5e5;
  }
}

.simulator-result li:nth-child(2) {
  color: $color-green;
  .simulator-result-label {
    background-color: #effff8;
  }
}

.simulator-result li:nth-child(3) {
  color: #ff8f33;
  .simulator-result-label {
    background-color: #ffeee0;
  }
}

.simulator-result li:nth-child(4) {
  color: $color-main;
  .simulator-result-label {
    background-color: #dffeff;
  }
}

@media screen and (min-width: $breakpoint) {

  .simulator-result li {
    p {
      font-size: 24px;
      span {
        font-size: 18px;
      }
    }
  }

  .simulator-result-label {
    height: 45px;
    border-radius: 10px;
    font-size: 18px;
  }

}
