// main: ../../style.scss

.range-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: vw-pc(-20);
  margin-bottom: vw-pc(-20);
  height: vw-pc(80);
  font-size: vw-pc(24);
  font-weight: 700;
  text-align: center;
}

@media screen and (min-width: $breakpoint) {

  .range-title {
    top: -20px;
    margin-bottom: -20px;
    height: 80px;
    font-size: 24px;
  }

}

.range-slider {
  margin: 0 auto vw-pc(45) auto;
  width: vw-pc(845);
  height: vw-pc(95);
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (#{vw-pc(130)} + #{vw-pc(37)}));
  height: vw-pc(4);
  background: #eeeeee;
  outline: none;
  padding: 0;
  margin: 0;

  &::-webkit-slider-thumb {
  -webkit-appearance:none;
  width: vw-pc(26);
  height: vw-pc(26);
  border-radius: 50%;
  background: $color-green;
  cursor: pointer;
  transition: background .15s ease-in-out;

  &:hover {
    background: $color-green;
  }
}

&:active::-webkit-slider-thumb {
  background: $color-green;
}

&::-moz-range-thumb {
  width: vw-pc(26);
  height: vw-pc(26);
  border:none;
  border-radius: 50%;
  background: $color-green;
  cursor: pointer;
  transition: background .15s ease-in-out;

  &:hover {
    background: $color-green;
  }
}

&:active::-moz-range-thumb {
  background: $color-green;
}

&:focus {
  &::-webkit-slider-thumb {
    box-shadow: 0 0 0 vw-pc(3) $color-base,
                0 0 0 vw-pc(6) $color-green;
  }
}
}

.range-slider__value {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: vw-pc(130);
  height: vw-pc(95);
  color: $color-main;
  font-family: $font2;
  font-size: vw-pc(24);
  font-weight: 700;
  text-align: center;
  border-radius: vw-pc(20);
  background: #dffeff;
  margin-left: vw-pc(15);

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: vw-pc(-15);
    width: 0;
    height: 0;
    border-top: vw-pc(15) solid transparent;
    border-right: vw-pc(15) solid #dffeff;
    border-bottom: vw-pc(15) solid transparent;
    -webkit-transform: translateY(-50%);
transform: translateY(-50%);
  }
}


// Firefox Overrides
::-moz-range-track {
    background: #eeeeee;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

@media screen and (min-width: $breakpoint) {

  .range-slider {
    margin: 0 auto 45px auto;
    width: 845px;
    height: 95px;
  }

  .range-slider__range {
    width: calc(100% - (130px + 37px));
    height: 4px;

    &::-webkit-slider-thumb {
    width: 26px;
    height: 26px;
  }

  &::-moz-range-thumb {
    width: 26px;
    height: 26px;
  }

  &:focus {
    &::-webkit-slider-thumb {
      box-shadow: 0 0 0 3px $color-base,
                  0 0 0 6px $color-green;
    }
  }
  }

  .range-slider__value {
    width: 130px;
    height: 95px;
    font-size: 24px;
    border-radius: 20px;
    margin-left: 15px;

    &:after {
      left: -15px;
      border-top: 15px solid transparent;
      border-right: 15px solid #dffeff;
      border-bottom: 15px solid transparent;
    }
  }

}


.range-exlist {
  margin: 0 auto;
  width: vw-pc(710);
}

.range-exlist li {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  height: vw-pc(45);
}

.range-ex-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  width: vw-pc(115);
  height: 100%;
  border-radius: vw-pc(10);
  font-size: vw-pc(18);
  font-weight: 700;
  text-align: center;
}

.range-exlist li:nth-child(1) .range-ex-label {
  background-color: #dffeff;
  color: $color-main;
}

.range-exlist li:nth-child(2) .range-ex-label {
  background-color: #e4fff5;
  color: $color-green;
}

.range-ex-content {
  width: calc(100% - #{vw-pc(115)} + 1em);
  font-size: vw-pc(18);
}

@media screen and (min-width: $breakpoint) {

  .range-exlist {
    width: 710px;
  }

  .range-exlist li {
    height: 45px;
  }

  .range-ex-label {
    width: 115px;
    border-radius: 10px;
    font-size: 18px;
  }

  .range-ex-content {
    width: calc(100% - 115px + 1em);
    font-size: 18px;
  }
}
