// main: ../../style.scss

.dept-data-title {
  margin-bottom: 2em;
  font-size: vw-pc(18);
  font-weight: 700;
}

.dept-data-body {
  margin: 0 auto 1em auto;
}

@media screen and (min-width: $breakpoint) {

  .dept-data-title {
    font-size: 18px;
  }
}

.simu-create {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: vw-pc(50);
  height: vw-pc(100);
}

@media screen and (min-width: $breakpoint) {

  .simu-create {
    margin-bottom: 50px;
    height: 100px;
  }
}

.simu-start {
  padding: vw-pc(25);
}

.simu-start-title {
  margin-bottom: 1em;
  font-size: vw-pc(18);
  font-weight: 700;
}

@media screen and (min-width: $breakpoint) {

  .simu-start {
    padding: 25px;
  }

  .simu-start-title {
    font-size: 18px;
  }
}
