@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:600,700,800&display=swap");
/*  RESET CSS
------------------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*,
::before,
::after {
  background-repeat: no-repeat; }

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit; }

html, body {
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch; }

html {
  overflow-y: scroll;
  cursor: default; }

body {
  line-height: 1;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-print-color-adjust: exact; }

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: normal;
  line-height: 1.4em; }

ol, ul, li {
  list-style: none; }

article, aside, details, figcaption, figure,
footer, header, main, menu, nav, section, summary {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: normal; }

td, th {
  padding: 0; }

blockquote {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
  cursor: pointer; }

a:active, a:hover {
  outline-width: 0; }

a:focus, *:focus {
  outline: none; }

img {
  border-style: none;
  vertical-align: bottom; }

[type="text"],
[type="tel"],
[type="email"],
[type="date"],
[type="number"],
[type="submit"],
[type="button"],
button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input, select {
  vertical-align: middle; }

select {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

select::-ms-expand {
  display: none; }

button, select {
  text-transform: none; }

button, [type="button"], [type="reset"], [type="submit"], [role="button"] {
  cursor: pointer; }

/* IEのinput要素に出てくるマークを消去 */
input::-ms-clear {
  visibility: hidden; }

/* IEのinput要素に出てくるマークを消去 */
input::-ms-reveal {
  visibility: hidden; }

/*  THEME CSS
------------------------------------------------------------------------------*/
html {
  font-size: 62.5%; }

body {
  width: 100%;
  height: 100%;
  color: #000;
  background-color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.0416666667vw;
  font-weight: 400;
  line-height: 1;
  letter-spacing: .1em;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow-x: hidden; }

@media screen and (min-width: 1441px) {
  body {
    font-size: 1.5em; } }
/*  リンク
-------------------------------------------------------*/
a {
  transition: all .2s; }

a:hover {
  text-decoration: none !important;
  cursor: pointer; }

a.opacity {
  display: block; }

a.opacity:hover {
  opacity: 0.7; }

.center {
  text-align: center; }

/*-------------original-------------------------------------------------------*/
.section {
  margin-bottom: 2.4305555556vw; }

.content .section:last-child {
  margin-bottom: 0; }

@media screen and (min-width: 1441px) {
  .section {
    margin-bottom: 35px; } }
.dashbord {
  position: relative;
  padding: 4.8611111111vw 2.4305555556vw 5.5555555556vw 2.4305555556vw;
  background: -moz-linear-gradient(left, #00aed9 0%, #72e183 100%);
  background: -webkit-linear-gradient(left, #00aed9 0%, #72e183 100%);
  background: linear-gradient(to right, #00aed9 0%, #72e183 100%);
  overflow: hidden; }

.dashbord .absolute-title {
  position: absolute;
  top: 1.3888888889vw;
  left: 1.3888888889vw; }

@media screen and (min-width: 1441px) {
  .dashbord {
    padding: 70px 35px 80px 35px; }

  .dashbord .absolute-title {
    top: 20px;
    left: 20px; } }
.title-area {
  margin: 3.4722222222vw 0 6.25vw 0; }

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 1.3888888889vw auto;
  width: 48.6111111111vw;
  height: 4.8611111111vw;
  border-radius: 1.3888888889vw;
  background-color: #FFFFFF;
  color: #32d9e0;
  font-size: 1.6666666667vw;
  font-weight: 700; }

.flex-title {
  display: flex;
  align-items: center;
  margin-bottom: .5em;
  padding-bottom: .5em;
  font-size: 1.25vw; }
  .flex-title .flex-title-en {
    font-family: "Montserrat", sans-serif;
    font-size: 1.3888888889vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.4em; }
  .flex-title .flex-title-jp {
    margin: 0 0 0 1em;
    color: #9a9a9a;
    font-size: 1.25vw; }
  .flex-title-bitween {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .flex-title-caption {
    display: flex; }

.flex-title--border {
  border-bottom: 1px solid #e5e5e5; }

.flex-title--none {
  margin: 0; }

.text-desc {
  margin-top: 1em;
  font-size: 1.25vw; }

@media screen and (min-width: 1441px) {
  .title-area {
    margin: 50px 0 90px 0; }

  .title {
    margin: 0 auto 20px auto;
    width: 700px;
    height: 70px;
    border-radius: 20px;
    font-size: 24px; }

  .flex-title .flex-title-en {
    font-size: 20px; }
  .flex-title .flex-title-jp {
    font-size: 18px; }

  .text-desc {
    font-size: 18px; } }
.aside {
  align-self: stretch;
  padding: 5vw 0 0;
  width: 17.3611111111vw;
  background: #159394; }

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 1.0416666667vw;
  padding: 0.6944444444vw;
  height: 7.9861111111vw;
  border-bottom: 1px solid #FFFFFF; }

.logo a:hover {
  color: #a9fdde; }

.logo-text {
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6666666667vw;
  font-weight: 700;
  line-height: 1.25em;
  letter-spacing: .1em; }

.progress-graph {
  display: flex;
  justify-content: center; }
  .progress-graph-img {
    width: 100%; }

.status {
  padding: 2vw 1vw;
  background: #026162;
  font-family: "Montserrat", sans-serif;
  line-height: 1.1em;
  text-transform: none;
  text-align: center;
  letter-spacing: 0.1em;
  color: #fff; }
  .status-title {
    font-size: 1em;
    font-weight: bold; }
  .status-subtitle {
    padding: .5em 0;
    font-size: .8em;
    line-height: 1.1em;
    color: #bae5e5; }
  .status-situation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    text-align: left; }
  .status-icon {
    height: 2vw; }
  .status-txt {
    padding: 0 .8em;
    font-size: .7em; }
    .status-txt-caption {
      margin-bottom: .2em;
      font-weight: 700; }
  .status-meter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vw;
    height: 3vw;
    border-radius: 0.4861111111vw;
    font-weight: bold; }
    .status-meter--red {
      background: #d45757; }
    .status-meter--green {
      background: #40b477; }

.message-title {
  padding: 3vw 1.5vw; }
  .message-title-txt {
    margin-bottom: 0;
    color: #cafcff;
    font-family: "Montserrat", sans-serif;
    font-size: .7em;
    letter-spacing: .3em;
    text-align: left;
    line-height: 2em; }
    .message-title-txt-thick {
      font-weight: 700; }

@media screen and (min-width: 1441px) {
  .logo {
    margin-bottom: 15px;
    padding: 10px;
    height: 115px; }

  .logo-text {
    font-size: 24px; } }
.navi li {
  margin-bottom: 1.0416666667vw; }

.navi li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  border-radius: 1.7361111111vw;
  width: 12.5vw;
  height: 3.4722222222vw;
  font-size: 1.25vw;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em; }

.navi li a:hover {
  background-color: rgba(255, 255, 255, 0.3); }

.navi li.is-active a {
  color: #32d9e0;
  background-color: #FFFFFF; }

.navi li.navi-result a {
  color: #FFFFFF;
  background: -moz-linear-gradient(left, #ff9e00 0%, #ffb517 100%);
  background: -webkit-linear-gradient(left, #ff9e00 0%, #ffb517 100%);
  background: linear-gradient(to right, #ff9e00 0%, #ffb517 100%); }

.navi li.navi-result a:hover {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3); }

.aside i {
  margin-right: .5em; }

.navi li a i {
  color: #a9fdde; }

@media screen and (min-width: 1441px) {
  .navi li {
    margin-bottom: 15px; }

  .navi li a {
    border-radius: 25px;
    width: 180px;
    height: 50px;
    font-size: 18px; } }
.navi-reset {
  display: block;
  position: absolute;
  bottom: 2.0833333333vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.navi-reset a {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  white-space: nowrap; }

.navi-reset a:hover {
  color: #ffa204; }

@media screen and (min-width: 1441px) {
  .navi-reset {
    bottom: 30px; } }
.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  background-color: #FFFFFF;
  height: 5vw;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  z-index: 100; }
  .header-logo {
    height: 3vw; }
  .header-title {
    color: #159394;
    font-family: "Montserrat", sans-serif;
    font-size: 2vw;
    font-weight: 700;
    line-height: 1.1em;
    text-transform: none;
    letter-spacing: 0.1em;
    margin-bottom: 0;
    padding: 0 20px;
    margin-bottom: 0; }
  .header-time {
    padding-left: 2em;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5vw; }
  .header-status {
    display: flex;
    align-items: center; }
  .header-icon {
    width: 3.4722222222vw;
    height: 3.4722222222vw;
    border: 0.2083333333vw solid #eee;
    border-radius: 50%;
    margin-right: 2em; }

.signout-txt {
  font-size: 1vw; }

.header-account-type {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 600; }

.header-status a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12vw;
  height: 3vw;
  border-radius: 2.0833333333vw;
  border: 2px solid #85c8a5;
  color: #85c8a5;
  font-family: "Montserrat", sans-serif;
  font-weight: 700; }

.header-status a:hover {
  background-color: #159394;
  border: none;
  color: #FFFFFF; }

.box {
  margin-bottom: 1.7361111111vw;
  padding: 1.3888888889vw;
  border-radius: 1.3888888889vw;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); }
  .box-wrap {
    padding: 0 1vw; }
  .box-input {
    margin-bottom: 0;
    padding: 1.5em;
    border-radius: 0.4861111111vw;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    border: 2px solid #159394; }
  .box--task {
    min-height: 36vw;
    padding: 1.3888888889vw 0;
    border-radius: 1.3888888889vw;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); }
  .box-scroll {
    width: 100%;
    max-height: 54vh;
    overflow: hidden;
    overflow-y: scroll;
    margin: 1em 0;
    padding: 0 1.5em 0 2.5em; }
  .box-progress {
    margin-top: 1.7361111111vw;
    margin-bottom: 1.7361111111vw;
    padding: 1.3888888889vw;
    border-radius: 1.0416666667vw;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); }

@media screen and (min-width: 1441px) {
  .box {
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 20px; } }
.graph li > p {
  margin: 0.3em 0;
  font-size: 0.9027777778vw;
  text-align: center; }

.graph-head {
  font-family: "Montserrat", sans-serif;
  font-size: 1.0416666667vw;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.15em; }

.graph li:nth-child(1) .graph-head {
  color: #40b477; }
.graph li:nth-child(1) > p {
  color: #85c8a5; }

.graph--s li:nth-child(2) {
  background-color: #ecf7f1; }
  .graph--s li:nth-child(2) .graph-head {
    color: #43cca7; }
  .graph--s li:nth-child(2) > p {
    color: #85c8a5; }

.graph--a li:nth-child(2) {
  background-color: #e8eef7; }
  .graph--a li:nth-child(2) .graph-head {
    color: #4072b4; }
  .graph--a li:nth-child(2) > p {
    color: #88a6d5; }

.graph--b li:nth-child(2) {
  background-color: #e1f6f6; }
  .graph--b li:nth-child(2) .graph-head {
    color: #3cb6b7; }
  .graph--b li:nth-child(2) > p {
    color: #76cacb; }

.graph--c li:nth-child(2) {
  background-color: #ffecdc; }
  .graph--c li:nth-child(2) .graph-head {
    color: #eea361; }
  .graph--c li:nth-child(2) > p {
    color: #eea361; }

.graph--d li:nth-child(2) {
  background-color: #fff0ed; }
  .graph--d li:nth-child(2) .graph-head {
    color: #ff9a89; }
  .graph--d li:nth-child(2) > p {
    color: #ffb3a5; }

.graph--e li:nth-child(2) {
  background-color: #f5e2e4; }
  .graph--e li:nth-child(2) .graph-head {
    color: #ee6161; }
  .graph--e li:nth-child(2) > p {
    color: #ec9f9f; }

.graph-chart {
  position: relative;
  margin: 2rem auto 0;
  width: 7.6388888889vw;
  height: 7.6388888889vw;
  z-index: 2; }
  .graph-chart div {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.2777777778vw;
    height: 5.2777777778vw;
    border-radius: 50%;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .graph-chart div p {
      font-family: "Montserrat", sans-serif;
      font-weight: 700; }

.graph li:nth-child(1) .graph-chart div {
  background-color: #fff; }
  .graph li:nth-child(1) .graph-chart div p {
    margin-bottom: 0;
    color: #43cca7;
    font-size: 1.0416666667vw;
    font-weight: 600; }
    .graph li:nth-child(1) .graph-chart div p span {
      font-size: 1.9444444444vw; }

.graph li:nth-child(2) .graph-chart div p {
  font-size: 2.5vw;
  font-weight: 600; }

.graph--s li:nth-child(2) .graph-chart div {
  background-color: #ecf7f1; }
  .graph--s li:nth-child(2) .graph-chart div p {
    color: #43cca7; }

.graph--a li:nth-child(2) .graph-chart div {
  background-color: #e8eef7; }
  .graph--a li:nth-child(2) .graph-chart div p {
    color: #4072b4; }

.graph--b li:nth-child(2) .graph-chart div {
  background-color: #e1f6f6; }
  .graph--b li:nth-child(2) .graph-chart div p {
    color: #3cb6b7; }

.graph--c li:nth-child(2) .graph-chart div {
  background-color: #ffecdc; }
  .graph--c li:nth-child(2) .graph-chart div p {
    color: #eea361; }

.graph--d li:nth-child(2) .graph-chart div {
  background-color: #fff0ed; }
  .graph--d li:nth-child(2) .graph-chart div p {
    color: #ff9a89; }

.graph--e li:nth-child(2) .graph-chart div {
  background-color: #f5e2e4;
  color: #ee6161; }
  .graph--e li:nth-child(2) .graph-chart div p {
    color: #ee6161; }

@media screen and (min-width: 1441px) {
  .graph li p {
    font-size: 13px;
    font-size: 1.3rem; }

  .graph-head {
    font-size: 18px;
    font-size: 1.8rem; }

  .graph li:nth-child(1) .graph-chart div p {
    font-size: 15px; }
    .graph li:nth-child(1) .graph-chart div p span {
      font-size: 28px; }

  .graph li:nth-child(2) .graph-chart div p {
    font-size: 36px; } }
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: 4.1666666667vw;
  border-radius: 2.0833333333vw;
  font-family: "Montserrat", sans-serif, "Noto Sans JP", sans-serif;
  font-size: 1.25vw;
  font-weight: 700;
  letter-spacing: .1em;
  transition: .3s; }

.btn:hover {
  color: #FFFFFF;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3); }

.btn--orange {
  color: #FFFFFF;
  background: -moz-linear-gradient(left, #ff9e00 0%, #ffb517 100%);
  background: -webkit-linear-gradient(left, #ff9e00 0%, #ffb517 100%);
  background: linear-gradient(to right, #ff9e00 0%, #ffb517 100%);
  transition: .3s; }

.btn--blue {
  color: #FFFFFF;
  background: -moz-linear-gradient(left, #0bbafb 0%, #4285ec 100%);
  background: -webkit-linear-gradient(left, #0bbafb 0%, #4285ec 100%);
  background: linear-gradient(to right, #0bbafb 0%, #4285ec 100%);
  transition: .3s; }

.btn--gray {
  color: #000;
  background-color: #eeeeee;
  font-weight: 400;
  transition: .3s; }

.btn--gray:hover {
  color: #000; }

.btn--size400 {
  width: 27.7777777778vw; }

.btn--blank span {
  position: relative; }

.btn--blank span:after {
  content: '';
  display: inline-block;
  margin-left: .5em;
  width: 0.6944444444vw;
  height: 0.6944444444vw;
  background-image: url(../img/blank.png);
  background-size: contain;
  background-repeat: no-repeat; }

@media screen and (min-width: 1441px) {
  .btn {
    height: 60px;
    border-radius: 30px;
    font-size: 18px; }

  .btn--size400 {
    width: 400px; }

  .btn--blank span:after {
    width: 10px;
    height: 10px; } }
.form input[type="text"], .form input[type="email"], .form input[type="password"], .form select {
  padding: 1em 2em;
  background-color: #FFFFFF;
  border-width: 0.2083333333vw;
  border-style: solid;
  border-color: #f6f6f6;
  border-radius: 1.7361111111vw;
  width: 100%;
  height: 3.4722222222vw;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25vw;
  letter-spacing: .1em;
  transition: .3s; }
  .form input[type="text"]:focus, .form input[type="email"]:focus, .form input[type="password"]:focus, .form select:focus {
    border-color: #ffa204;
    outline: 0 !important; }

@media screen and (min-width: 1441px) {
  .form input[type="text"], .form input[type="email"], .form input[type="password"], .form select {
    border-width: 3px;
    border-radius: 25px;
    width: 100%;
    height: 50px;
    font-size: 18px; } }
/* ---------------------------------- プレイスホルダー */
input::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ccc; }

input:-ms-input-placeholder,
select:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #ccc; }

input::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder {
  color: #ccc; }

.login {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #159394;
  width: 100vw;
  height: 100vh; }

.main-title-top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em; }
.main-title-img {
  width: 12%;
  margin-right: 3%; }

.main-title-en {
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 3.3333333333vw;
  font-weight: 700;
  line-height: 1.1em;
  text-transform: none;
  letter-spacing: .125em;
  margin-bottom: 0; }
  .main-title-en-thin {
    color: #cafcff;
    font-size: 2.5vw;
    font-weight: 600; }

.main-title-jp {
  color: #cafcff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6666666667vw;
  letter-spacing: .3em;
  text-align: center;
  margin: .5em 0 0; }
  .main-title-jp-thick {
    font-weight: 700; }

.main-img {
  width: 100%; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 30px;
  text-align: right;
  color: #cafcff;
  font-size: 1em; }

@media screen and (min-width: 1441px) {
  .main-title-en {
    font-size: 48px; }

  .main-title-jp {
    font-size: 24px; } }
.signinbox {
  padding: 3.4722222222vw 4.5138888889vw; }

.signinbox-title {
  margin-bottom: .7em;
  padding-bottom: .3em;
  border-bottom: 1px solid #e5e5e5;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5vw;
  font-weight: 700; }

.signinbox dl {
  display: flex;
  flex-wrap: wrap; }

.signinbox dl dt {
  width: 100%;
  margin-bottom: 1em;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25vw;
  font-weight: 600; }

.signinbox dl dd {
  margin-bottom: 1.5em;
  width: 100%; }

.signin-btn {
  margin: 0 auto;
  width: 80%; }

.signin-existing {
  margin: 1.3888888889vw 0 2.0833333333vw 0;
  text-align: center; }
  .signin-existing a {
    padding-bottom: .5em;
    border-bottom: 1px solid #000; }

@media screen and (min-width: 1441px) {
  .signinbox {
    padding: 50px 65px; }

  .signinbox-title {
    font-size: 36px; }

  .signinbox dl dt {
    font-size: 18px; }

  .signin-existing {
    margin: 20px 0 30px 0; } }
.main {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: #f8f8f8; }

.content {
  display: flex;
  flex-flow: column;
  width: 100%;
  min-height: 100vh;
  padding-top: 5vw; }
  .content-space {
    flex: 1;
    width: 100%;
    padding: 1.7361111111vw;
    padding-bottom: 1vw; }
  .content-input-space {
    width: 100%;
    padding: 0 1.7361111111vw 0; }

.task-title {
  padding: 0 2em;
  font-size: 1.25vw; }

.task-title-en {
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.4em;
  color: #159394;
  letter-spacing: 0.15em; }

.task-title-jp {
  display: flex;
  align-items: center;
  margin: 0 0 0 1em;
  color: #9a9a9a;
  font-size: 1.25vw;
  letter-spacing: 0.15em; }

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .7em 0;
  border-bottom: 1px solid #f1f1f1; }
  .task-item--hidden {
    visibility: hidden; }

.task-btns {
  display: flex;
  align-items: center; }

.task-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7vw;
  height: 2.5vw;
  border-radius: 0.4861111111vw;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #fff; }

.checkbox {
  width: 100%;
  margin-bottom: 0; }

.mycheckbox input[type="checkbox"] {
  display: none; }

.mycheckbox input[type="checkbox"] + label {
  display: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-bottom: 0;
  padding-left: 40px;
  padding-right: 10px; }

.mycheckbox input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  left: 0;
  top: 50%;
  border: 2px solid;
  border-color: #cfcfcf;
  background-color: #FFF;
  border-radius: 50vw; }

.mycheckbox input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 11px;
  height: 6px;
  margin-top: -4px;
  top: 50%;
  left: 7px;
  transform: rotate(-45deg);
  border-bottom: 3px solid;
  border-left: 3px solid;
  border-color: #159394; }

.mycheckbox input[type="checkbox"]:checked + label::before {
  background-color: #d9f7f7;
  border-color: #159394; }

input[type=checkbox]:checked + label {
  text-decoration: line-through; }

.btn-switching {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 3vw;
  border-radius: 2.0833333333vw;
  border: 2px solid #159394;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background: #159394; }
  .btn-switching--hidden {
    border: 2px solid #159394;
    background: #fff;
    color: #159394; }
.btn-add {
  width: 12vw;
  height: 3vw;
  border-radius: 0.3472222222vw;
  border: 2px solid #159394;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background: #159394; }
  .btn-add-wrap {
    margin-right: 1em; }
.btn--edit {
  background: #159394; }
.btn--delete {
  margin-left: 2em;
  background: #d45757; }

#fab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background: #d9f7f7;
  text-align: center;
  border-radius: 50vw;
  border: 2px solid #159394;
  transition: .3s; }

#fab i {
  color: #159394;
  line-height: 21px;
  font-size: 12px;
  text-align: center;
  width: 100%;
  padding-left: 1px; }

.add-wrap {
  display: flex;
  align-items: center;
  width: 100%; }

.input-wrap {
  display: flex;
  align-items: center;
  width: 100%;
  height: 43px;
  padding-bottom: 1vw;
  margin-right: 3vw;
  border-bottom: 1px solid #bae5e5; }

.input-placeholder {
  width: 100%;
  padding-left: 1.5em;
  color: #159394; }

.input-placeholder::-webkit-input-placeholder {
  color: #159394; }

.input-placeholder::-moz-placeholder {
  color: #159394; }

.input-placeholder:-ms-input-placeholder {
  color: #159394; }

.footer-main {
  width: 100%;
  padding: 1em 1.7361111111vw 1em;
  text-align: right;
  font-size: .8em;
  color: #999999; }

/*# sourceMappingURL=style.css.map */
