// main: ../../style.scss

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  background-color: $color-base;
  height: 5vw;
  border-bottom: 1px solid $border-gray;
  box-shadow: $box-shadow;
  z-index: 100;
  &-logo {
    height: 3vw;
  }
  &-title {
    color: #159394;
    font-family: "Montserrat", sans-serif;
    font-size: 2vw;
    font-weight: 700;
    line-height: 1.1em;
    text-transform: none;
    letter-spacing: 0.1em;
    margin-bottom: 0;
    padding: 0 20px;
    margin-bottom: 0;
  }
  &-time {
    padding-left: 2em;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5vw;
  }
  &-status {
    display: flex;
    align-items: center;
  }
  &-icon {
    width: vw-pc(50);
    height: vw-pc(50);
    border: 0.2083333333vw solid #eee;
    border-radius: 50%;
    margin-right: 2em;
  }
}

.signout-txt {
  font-size: 1vw;
}

.header-account-type {
  display: flex;
  align-items: center;
  font-family: $font2;
  font-size: 18px; font-size: 1.8rem;
  font-weight: 600;
}

.header-status a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12vw;
  height: 3vw;
  border-radius: vw-pc(30);
  border: 2px solid #85c8a5;
  color: #85c8a5;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.header-status a:hover {
  background-color: #159394;
  border: none;
  color: $color-base;
}
