// main: ../../style.scss

.box {
  margin-bottom: vw-pc(25);
  padding: vw-pc(20);
  border-radius: vw-pc(20);
  background-color: $color-base;
  box-shadow: $box-shadow;
  &-wrap {
    padding: 0 1vw;
  }
  &-input {
    margin-bottom: 0;
    padding: 1.5em;
    border-radius: vw-pc(7);
    background-color: $color-base;
    box-shadow: $box-shadow;
    border: 2px solid #159394;
  }
  &--task {
    min-height: 36vw;
    padding: vw-pc(20) 0;
    border-radius: vw-pc(20);
    background-color: $color-base;
    box-shadow: $box-shadow;
  }
  &-scroll {
    width: 100%;
    max-height: 54vh;
    overflow: hidden;
    overflow-y: scroll;
    margin: 1em 0;
    padding: 0 1.5em 0 2.5em;
  }
  &-progress {
    margin-top: vw-pc(25);
    margin-bottom: vw-pc(25);
    padding: vw-pc(20);
    border-radius: vw-pc(15);
    background-color: $color-base;
    box-shadow: $box-shadow;
  }
}

@media screen and (min-width: $breakpoint) {

  .box {
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 20px;
  }
}
